extends layout.pug

block content
	nav.nav.center
		a(href="/")
			span.arrow ←
			|  Back to Gallery

	article.portfolio-about
		.inner-wrapper.flex-row-wrap.two-col
			.about-intro-box.box
				h1 James "Breck" Cooper
				h2 Senior Front-End Developer
				
				.about-bio
					img.profile-pic(src="/static/images/profile.png", alt="Profile Picture")
					p Hi! I'm an experienced Software Engineer with 8+ years in the software industry, currently working as a Senior Front-End Developer at KnowBe4.
					p I specialize in creating user-centric designs with accessibility as a top priority. At KnowBe4, I develop training modules and localized content using their proprietary Bob the Builder platform, always ensuring responsive designs and accessibility standards are met while collaborating with cross-functional teams including product managers, instructional designers, and QA engineers.
					p My journey began in audio engineering at Belmont University, which taught me attention to detail and technical precision. I then transitioned into graphic design and print media at Immortal Printing, where I honed my visual design skills using Adobe Creative Suite. This creative foundation led me to pursue a Master's in Computer Science at MTSU, bridging my design background with technical expertise.
					p This unique path from audio engineering to graphic design to software development gives me a distinctive perspective on both visual aesthetics and technical implementation. Through my portfolio projects, you can see my evolution as a fullstack developer with a strong emphasis on frontend technologies, and my commitment to creating interactive, accessible web experiences that prioritize user needs.

			.certification-box.box
				h6 Certification
				img(src="https://api.accredible.com/v1/frontend/credential_website_embed_image/certificate/156941825", alt="Techdegree Certificate", style="max-width: 100%; height: auto; border: 1px solid #ddd; border-radius: 8px;")
				
		.skills-contact-box.box
			h6 Education
			.education-skills-grid
				.section-category
					h6 Master of Science in Computer Science
					.education-item
						.degree-title Middle Tennessee State University
						.school-name Murfreesboro, TN
						.education-dates Aug 2013 - Dec 2016
				
				.section-category
					h6 Bachelor of Science in Audio Engineering
					.education-item
						.degree-title Belmont University
						.school-name Nashville, TN
						.education-dates Aug 2007 - Dec 2010
			
			h6 Technical Skills
			.education-skills-grid
				.section-category
					h6 Front-End Development
					ul.skills-list
						li HTML/CSS (Expert)
						li JavaScript
						li Vue (Experienced)
						li User Interface Design
						li Responsive Design
				
				.section-category
					h6 Design & UX
					ul.skills-list
						li Wireframing (Expert)
						li Prototyping (Expert)
						li Accessibility (Experienced)
						li Adobe Creative Suite
						li User-Centric Design
				
				.section-category
					h6 Development Tools
					ul.skills-list
						li GitLab (Experienced)
						li Unix (Expert)
						li Jira
						li API Integration
						li Object-Oriented Programming
			
			h6 Contact Info
			ul.contact-info
				li 
					span.label Location: 
					| Nashville, TN
				li 
					span.label Phone: 
					| (601) 481-4137
				li 
					span.label Email: 
					a(href="mailto:breckcooper@gmail.com") breckcooper@gmail.com
				li 
					span.label GitHub: 
					a(href="https://github.com/Stagol33" target="_blank") @Stagol33
			
			a.btn-link(href="https://github.com/Stagol33" target="_blank") View GitHub Profile
