extends layout.pug

block content
	.wrapper.error-container
		.box.error-content
			h1 Error Occurred
			
			h2 Error #{error.status || 500}
			
			.error-message
				p= error.message || "Something went wrong"
			
			.error-action
				p We apologize for the inconvenience.
				a.btn-link(href="/") Return to Home Page
			
			.error-details
				if error.stack && process.env.NODE_ENV !== 'production'
				pre.error-stack= error.stack
